block variables

doctype html
html
  include head.pug
  body
              
    main
      //- jumbo
      div(class="p-5 mb-4 bg-light rounded-3")
        div(class="container-fluid py-5")
          h1(class="display-5 fw-bold")= message
          p(class="col-md-8 fs-4")= description
          p
            a(class="btn btn-primary btn-lg" href="https://github.com/smcstylus/pocket-calculator" role="button" target="_blank") Read more on github repository
          p
            Keyboard shortcuts: p - power, c - clear, l - ligts, t - timer, q - sqrt, 0-9, +, -, /, *, = or enter, delete/backspace
            
      //- main content
      section.container
        include calc.pug
  
    
  include footer.pug
